<template>
  <md-layout md-column class="main-content">
    <h1>Vandaag?</h1>

    <md-layout md-column>
      <form novalidate>
        <md-input-container>
          <label for="book">Welk?</label>
          <md-select name="book" id="book">
            <md-option v-for="(book, index) in books"
                       :value="index"
                       @selected="selectedChapters = book.verses">
              {{ book.title }}
            </md-option>
          </md-select>
        </md-input-container>
      </form>
    </md-layout>

    <md-layout md-row>
      <md-layout md-flex-xsmall="20" md-flex-small="10"
                 v-for="(chapter, index) in selectedChapters">
        <md-button flex class="md-accent chapter-box">{{ index + 1 }}</md-button>
      </md-layout>
    </md-layout>
  </md-layout>
</template>

<script>
import Firebase from 'firebase';

const fireConfig = {
  apiKey: 'AIzaSyA20yYyZ7ChC9RfSIh2puqbNXrgDvfP2Ag',
  authDomain: 'read-your-bible.firebaseapp.com',
  databaseURL: 'https://read-your-bible.firebaseio.com',
  storageBucket: 'read-your-bible.appspot.com',
  messagingSenderId: '241177456867',
};

const booksRef = Firebase.initializeApp(fireConfig).database().ref('books');

export default {
  name: 'AddText',
  data() {
    return {
      selectedChapters: [],
    };
  },
  firebase: {
    books: booksRef,
  },
  created() {
    console.log('Im created'); // eslint-disable-line
    // this.getBooks();
  },
  methods: {
    // selectChapters: (verses) => {
    //   console.log('i get selected: ', verses);
    //   this.selectedChapters = verses;
    // },
  },
};
</script>

<style lang="scss" scoped>
  .main-content {
    padding: 16px;
  }
  .md-card {
    padding: 10px;
  }
  .form-layout {
    width: 50%;
  }
  .chapter-box {
    border: 1px solid #ddd;
    width: 100%;
    // margin: 0 0 16px 0;
    // padding: 8px;
  }
</style>
