<template>
  <md-layout md-gutter="8" md-align="center">
    <md-layout md-column md-flex="50">
      <h2>Laatst gelezen</h2>

      <md-card>
        <h3>Romeinen 5:1-5</h3>
        <p>Stukje tekst</p>
      </md-card>

    </md-layout>
  </md-layout>
</template>

<script>
export default {
  name: 'LastItems',
};
</script>

<style lang="scss" scoped>
  .md-card {
    padding: 8px;
  }
</style>
