<template>
  <md-layout md-align="center">
    <md-layout md-flex-large="50">
      <md-button class="btn-full-width md-raised">nieuw gelezen</md-button>
    </md-layout>
  </md-layout>
</template>

<script>
export default {
  name: 'AddReadButton',
};
</script>

<style lang="scss" scoped>
  .add-read-button {
    background-color: #d7d7d7;
    .md-button {
      height: 32px;
      justify-content: flex-end;
    }
  }
  .btn-full-width {
    width: 100%;
  }
</style>
