<template>
  <md-toolbar>
    <md-button class="md-icon-button">
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-toolbar>
</template>

<script>
  export default {
    name: 'PageHeader',
    props: {
      title: {
        type: String,
        default: 'Page header',
      },
    },
  };
</script>

<style>
</style>

