<template>
  <md-layout md-align="center">
    <md-layout md-flex-large="50">
      <md-input-container>
        <label>Zoeken</label>
        <md-input type="text">
      </md-input-container>
    </md-layout>
  </md-layout>
</template>

<script>
export default {
  name: 'SearchItem',
};
</script>

<style>
</style>
