<template>
  <md-layout md-flex="100" class="main-content">
    <md-input-container>
      <label>Bijbelboek</label>
      <md-input></md-input>
    </md-input-container>
    <md-button class="md-primary md-raised">Opslaan</md-button>
    <md-card>Some texts</md-card>
  </md-layout>

</template>

<script>
  export default {
    name: 'test',
    data() {
      return {
        text: 'null',
        title: 'Wat heb je gelezen vandaag?',
      };
    },
  };
</script>

<style lang="scss" scoped>
  .main-content {
    padding: 12px;
  }
</style>
