<template>
  <md-layout md-column md-align="center" md-gutter="16" id="app">
    <md-layout md-column>
      <PageHeader title="Read your bible"></PageHeader>
      <NewItem></NewItem>
      <SearchItem></SearchItem>
      <LastItems></LastItems>
    </md-layout>
  </md-layout>
</template>

<script type="text/javascript">
import PageHeader from './components/PageHeader';
import NewItem from './components/NewItem';
import SearchItem from './components/SearchItem';
import LastItems from './components/LastItems';

export default {
  name: 'app',
  components: {
    PageHeader,
    NewItem,
    SearchItem,
    LastItems,
  },
};
</script>

<style scoped>
</style>
